.messageBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.messageIcon {
    width: 13px;
    height: 10px;
}

@media (min-width: 1024px) {
    .messageIcon {
        width: 20px;
        height: 16px;
    }
}