.messageCount {
    --width: 13px;
    display: flex;
    justify-content: center;
    align-items: center;

    width: var(--width);
    height: var(--width);

    border-radius: 50%;
    margin-right: 5px;

    background-color: var(--orange);

    color: var(--white);

    font-size: 9px;
    font-weight: 500;
    font-family: 'Roboto', serif;
    text-align: center;
}

.messageCount.empty {
    background-color: var(--grey66);

}