.userBlock, .avatar {
    --wid: 30px;

    width: var(--wid);
    height: var(--wid);

    border-radius: 50%;

    cursor: pointer;
}

.name, .anon {
    display: none;
}

.anon {
    color: var(--grey99);
}

@media (min-width: 1024px) {
    .name {
        display: block;
        color: var(--orange);
        font-size: 20px;
        font-weight: 500;
    }

    .anon {
        display: block;
    }

    .avatar {
        --wid: 50px;

        margin-right: 15px;
    }

    .userBlock {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        order: 3;
    }
}